.addFormBG {
  position: fixed;
  inset: 0;
  background: var(--formBGsUnder) !important;
  z-index: 1050;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;  

  .addForm {
    color: white;
    padding: 2rem;
    width: 50%;
    max-width: 40rem;
    height: 100%;
    background: var(--formBG);
    margin: 0;
    display: flex;
    justify-self: right;
    border: var(--darkBorder);
  }

  .custominput {
    background-color: var(--darkPurple2);
    color: var(--inputPurple);
    border: var(--darkBorder);
    ;
  }

  .custominput::placeholder {
    color: var(--inputPurple);
  }

  .custominput[type="file"]::file-selector-button {
    background-color: var(--darkPurple);
    color: white;
  }

  .commentBox {
    background-color: var(--darkPurple);
    border: var(--darkBorder);
    border-radius: 1rem;
    padding: 1rem;
  }

}