.statspage {
  font-size: large;

  .stats {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 3rem;

    .littleBoxes {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .boxStat {
      background-color: var(--darkPurple);
      border: var(--darkBorder);
      border-radius: 1rem;
      padding: 2rem;
    }

    .statCategory {
      display: flex;
      justify-content: space-between;
    }

    .numberCategory {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: var(--golden);
    }
  }
}