.statspage {
  padding: 3rem;
  font-size: large;
}

.boxStat {
  background-color: rgb(9, 15, 32);
  border: 1px solid rgb(22, 24, 62);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 20rem;
}

.boxStat2 {
  background-color: rgb(9, 15, 32);
  border: 1px solid rgb(22, 24, 62);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 64rem;
}

.numberCategory {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: goldenrod;
}