.bookspage {
  font-size: large;

  .buttonLilacInput {
    padding-inline: 1.5rem;
    color: white;
    background-color: var(--darkPurple2);
    border: var(--darkBorder);
    border-radius: 0.5rem;
    margin-right: 50px;

    &:hover {
      background-color: var(--darkPurple3);
      transition: 1s;
    }
  }

  .filterBox {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 2rem;
    background-color: var(--darkPurple);
    border-radius: .5rem;
    border: var(--darkBorder);

    .input {
      background-color: var(--darkPurple2);
      border: var(--darkBorder);
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: var(--inputPurple);
    }

    .form-control::placeholder {
      color: var(--inputPurple);
    }

    .inputText {
      background-color: var(--darkPurple2);
      border: var(--darkBorder);
      color: var(--inputPurple);
    }

    .edited-select {
      background-color: var(--darkPurple2);
      color: var(--lightPurple);
      padding: 0.5rem;
      padding-inline: 1rem;
      border: var(--darkBorder);
      border-radius: 1rem;
    }

    .edited-menu {
      background-color: var(--darkPurple2);
      color: var(--lightPurple);
      padding: 0.5rem;
    }

    .edited-option {
      color: var(--lightPurple);

      &:hover {
        background-color: var(--darkPurple3);
        border-radius: 1rem;
      }
    }
  }

  @media (width <=1400px) {
    .filterBox {
      display: grid;
      grid-template-rows: 1fr;
    }
  }

  .categoryBox {
    display: flex;
    gap: 2rem;
    justify-content: space-around;

    .filters {
      background-color: rgb(2, 6, 23);
      color: var(--lightPurple);
      padding: 1rem;
      height: 3rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;

      .oneFilter {
        padding: 0.3rem;
        padding-inline: 1rem;
        border-radius: 1.5rem;
        text-decoration: none;
        color: var(--lightPurple);

        &:hover {
          background-color: var(--darkPurple);
        }
      }

      .selected {
        color: var(--golden);
        text-decoration: none;
        padding: 0.3rem;
        padding-inline: 1rem;
        background-color: var(--darkPurple3);
        border-radius: 1rem;
      }
    }

    .drop {
      display: flex;

      &:hover {
        border-radius: 1.1rem;
        box-shadow: 0 0 10px var(--inputPurple);
      }
    }
  }

  .container-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}