.gridOneBook {
  margin-left: 5rem;
  padding: 3rem;
  display: grid;
  padding-top: 4rem;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  gap: 3rem;

  img {
    height: 60dvh;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--lightPurple);
  }

  .genre {
    background-color: var(--formBG);
    padding: 0.2rem;
    padding-inline: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    border: var(--darkBorder);
  }

  .commentBox {
    background-color: var(--darkPurple);
    border: var(--darkBorder);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 5rem;
    max-width: 70%;
  }
}

.miniPhotos {
  padding: 2rem;
  width: 90%;

  img {
    height: 10rem;
    border-radius: 1rem;

    &:hover {
      box-shadow: 0 5px 20px rgba(69, 80, 180, 0.586);
      border: 3px solid rgb(180, 106, 16);
      transform: translateY(-5px);
      transition-duration: 0.8s;
    }
  }
}

.onRead {
  width: fit-content;
  align-content: center;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  max-height: 2rem;
  background-color: rgb(89, 71, 51);
  color: rgb(216, 180, 70);
  border: 1px solid rgb(216, 180, 70);
  border-radius: 0.5rem;
}

.completed {
  width: fit-content;
  align-content: center;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  max-height: 2rem;
  background-color: rgb(46, 48, 42);
  color: rgb(125, 221, 179);
  border: 1px solid rgb(77, 114, 93);
  border-radius: 0.5rem;
}

.pending {
  width: fit-content;
  align-content: center;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  max-height: 2rem;
  background-color: rgb(39, 46, 58);
  color: rgb(163, 177, 247);
  border: 1px solid rgb(91, 98, 145);
  border-radius: 0.5rem;
}

.linkAuthor {
  width: fit-content;
  padding: 0.3rem;
  padding-inline: 0.5rem;
  background-color: rgba(91, 98, 145, 0.504);
  border-radius: 1rem;
  border: 1px solid rgba(255, 225, 0, 0.493);

  &:hover {
    background-color: rgb(91, 98, 145);
  }
}