.lateralbar {
  background-color: rgb(14, 22, 41);  
  border: 1px solid rgb(32, 34, 86);
  min-height: 100dvh;
  padding: 2rem;
  font-size: large;

  .link {
    text-decoration: none;
    padding: 0.7rem;

    &:hover {
      background-color: rgb(32, 34, 86);
      border-radius: 1rem;
    }
  }
}
